@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Simple Login Form</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/reset.css">
    <link rel="stylesheet" type="text/css" href="~/Content/structure.css">
</head>
<body>
    @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { @class = "box login" }))
    {
        @Html.ValidationSummary(true)
        <fieldset class="boxBody">
            <h2 style="color: red; text-align: center;">@ViewBag.ThongBao</h2>
            <label>Tên tài khoản</label>
            <input name="NameUser" type="text" tabindex="1" placeholder="Tên tài khoản" required>

            <label><a href="#" class="rLink" tabindex="5">Quên mật khẩu?</a></label>
            <label>Mật khẩu</label>
            <input name="PasswordUser" type="password" tabindex="2" placeholder="Mật khẩu" required>
        </fieldset>
        <footer>
            <label><input type="checkbox" tabindex="3">Ghi nhớ đăng nhập</label>
            <input type="submit" class="btnLogin" value="Đăng nhập" tabindex="4">
        </footer>
    }
</body>
</html>
